/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.header-wrapper
  .title
    text-transform lowercase
    a
      color #0086B3

.ui-post-summary
  color: #2c3e50 !important
  font-weight: 300 !important

.ui-post-date
  color: #2c3e50 !important
  font-weight: 250 !important

.ui-post-tag
  a
    color: #2c3e50 !important
    font-weight: 250 !important