/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.header-wrapper
  .title
    text-transform lowercase
    a
      color #0086B3